= form_for @team do |f|
  .common-form__input
    = f.label :name, "チーム名"
    = f.text_field :name, placeholder: "英語で記入"

  .common-form__input
    = f.label :home, "本拠地"
    = f.text_field :home, placeholder: "英語で記入"

  .common-form__input
    = f.label :stadium, "スタジアム"
    = f.text_field :stadium, placeholder: "英語で記入"

  .common-form__input
    = f.label :founding_year, "創設年"
    = f.number_field :founding_year, placeholder: "数字のみ"

  .common-form__input
    = f.label :image, "ロゴ画像"
    = f.attachment_field :image

  .common-form__submit
    = f.submit '送信', class: "new-form__submit__btn"

   