
.detail 
  .datail__info
    = "チーム名: #{@team.name.upcase}"
  .detail__info
    = "ホームタウン: #{@team.home.upcase}"
  .detail__info
    = "スタジアム: #{@team.stadium.upcase}"
  .detail__info
    = "創設年: #{@team.founding_year}年"
  .detail__info
    = attachment_image_tag @team, :image
  .detail__info
    .detail__info__player
      選手一覧

  - if user_signed_in?
    -if current_user == @user || current_user.admin?
      
      .detail__edit
        = link_to "チーム編集", edit_team_path(@team), class: "detail__edit__link"
  



.player-info
  %h2
    選手一覧
  .player-info__list
    %table
      %tr
        %th
          背番号
        %th
          ポジション
        %th
          選手名
      - @players.each do |player|
        %tr
          %td
            = player.uniform_number
          %td
            = player.position
          %td
            = player.name.capitalize
  .player-info__back
    チームに戻る

  

  
.comments-box
  .comments
    - @comments.each do |comment|
      .comments__comment{data: {comment: {id: comment.id}}}
        .comments__comment__text
          = comment.comment
        .comments__comment__info
          .comments__comment__info__name
            = link_to "#{comment.user.name}", user_path(comment.user)
          .comments__comment__info__time
            = comment.created_at.strftime("%Y-%m-%d %H:%M")
  

  .comment__form
    -if user_signed_in?
      = form_for [@team, @comment] do |f|
        .form__box
          = f.label :comment, "コメント" , class: "form__box__label"
          = f.text_field :comment, class: "form__box__text-field"

          = f.submit "送信", class: "form__box__btn"
    - else
      .comment__form__message
        %h1
          コメントするにはログインか新規投稿が必要です。
        .comment__form__message__box
          .comment__form__message__box__btn
            = link_to "ログイン", new_user_session_path
          .comment__form__message__box__btn
            = link_to "新規登録", new_user_registration_path
