.main
  .new-form  
    = form_for @team do |f|
      .new-form__box
        = f.label :name, "チーム名"
        = f.text_field :name

      .new-form__box
        = f.label :home, "本拠地"
        = f.text_field :home

      .new-form__box
        = f.label :stadium, "スタジアム"
        = f.text_field :stadium

      .new-form__box
        = f.label :founding_year, "創設年"
        = f.text_field :founding_year

      .new-form__box
        = f.label :image, "ロゴ画像"
        = f.attachment_field :image

      .new-form__submit
        = f.submit '送信', class: "new-form__submit__btn"

   