.main
  .blog
    .blog__main
      .blog__main__title
        = @blog.title
      .blog__main__contents
        = simple_format @blog.text

    .blog__info
      = link_to @blog.user.name, "#", class: "blog__info__name"
      .blog__info__create
        = "#{@blog.created_at.strftime("%Y年%m月%d日")}作成"
      .blog__info__like
        .blog__info__like__icon
          - if Like.find_by(user_id: current_user.id, blog_id: @blog.id)
            = link_to("/likes/#{@blog.id}/destroy", method: :post) do
              %span.far.fa-thumbs-up.blog__info__like__icon__already
          - else
            = link_to("/likes/#{@blog.id}/create", method: :post) do
              %span.far.fa-thumbs-up.blog__info__like__icon__none
        .blog__info__like__num
          = "#{@likes_count}いいね！"
      - if user_signed_in? && current_user.id == @blog.user_id
        = link_to "編集", edit_blog_path(@blog), class: "blog__info__edit"
        = link_to "削除", blog_path, method: :delete,  class: "blog__info__delete"
  .blog--comments
    %h1
      Comment
    .blog--comments__box
      - @blogcomments.each do |blogcomment|
        .blog--comments__box__comment
          .blog--comments__box__comment__text
            = blogcomment.text
          .blog--comments__box__comment__info
            =link_to blogcomment.user.name, user_path(blogcomment.user), class: "blog--comments__box__comment__info__name"
            .blog--comments__box__comment__info__time
              = blogcomment.created_at.strftime("%Y年%m月%d日")
    .blog--comments__form
      - if current_user
        = form_for [@blog, @blogcomment] do |f|
          .form__box
            = f.text_field :text, class: "form__box__text-field"

            = f.submit "送信", class: "form__box__btn"
      - else
        %p
          ログインしてください