
= form_for @maneger do |f|
  .team-form__team
    = f.collection_select :team_id, Team.all, :id, :name

  .team-form__input
    = f.label :name, "名前"
    = f.text_field :name

  .team-form__input
    = f.label :birthday, "生年月日"
    = f.date_select :birthday, {start_year: 1950}

  .team-form__input
    = f.label :nationally, "国籍"
    = f.text_field :nationally

  .team-form__submit
    = f.submit "送信"


