= form_for @player do |f|
  .common-form__team
    = f.label :team_id, "チーム名"
    = f.collection_select :team_id, Team.all, :id, :name, prompt: "選択してください"
  .common-form__input
    = f.label :name, "名前"
    = f.text_field :name, placeholder: "英語で記入"
  .common-form__input
    = f.label :position, "ポジション"
    = f.select :position, [["GK", "GK"], ["DF", "DF"], ["MF", "MF"],["FW", "FW"]], prompt: "選択してください"

  .common-form__input
    = f.label :uniform_number, "背番号"
    = f.number_field :uniform_number, placeholder: "数字のみ"

  .common-form__input
    = f.label :footed, "利き足"
    = f.select :footed,[["右利き", "右"],["左利き", "左"]], prompt: "選択してください"

  .common-form__input
    = f.label :birthday, "生年月日"
    = f.date_select :birthday, {start_year: 1980}

  .common-form__input
    = f.label :height, "身長"
    = f.number_field :height, placeholder: "数字のみ"

  .common-form__input
    = f.label :weight, "体重"
    = f.number_field :weight, placeholder: "数字のみ"

  .common-form__input
    = f.label :nationally, "国籍"
    = f.text_field :nationally, placeholder: "英語で記入"

  .common-form__submit
    = f.submit "送信"