= form_for @match do |f|
  - if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |message|
          %li= message

  .match-form__input
    = f.label :name, "第何節"
    = f.text_field :name, placeholder: "○○節(○/○)"
  .match-form__input
    = f.label :start_time,"日時"
    = f.date_select :start_time, default: { year: 2020, month: 1, day: 1 }
  .team-form__submit
    = f.submit 'Save'
