.calendar  
  %h1
    試合日程
  = month_calendar events: @matches do |date, matches|
    = date
    - matches.each do |match|
      %div
        = link_to match.name, match_path(match)
  .calendar__for-admin
    -if user_signed_in? && current_user.admin?
      = link_to '新規日程', new_match_path, class: "calendar__for-admin__btn"
      = link_to '新規試合', new_game_path, class: "calendar__for-admin__btn"
